name: Deploy to Render

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Deploy to Render
        env:
          RENDER_SERVICE_ID: ${{ srv-d4imitchg0os73a1q0n0 }}
          RENDER_API_KEY: ${{rnd_ghalsEeHnkrNK7NXuQyzRXrPmFBZ}}
        run: |
          curl -X POST https://api.render.com/deploy/srv-d4imitchg0os73a1q0n0 \
          -H "Authorization: Bearer $RENDER_API_KEY" \
          -H "Accept: application/json"
