name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'


      - name: Make Gradle wrapper executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

 
      - name: Run tests with H2
        run: ./gradlew test -Dspring.profiles.active=test


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

   
      - name: Build Docker Image
        run: docker build -t spring-boot-app .

      - name: Run Docker Container
        run: |
          docker run -d -p 8080:8080 --name app spring-boot-app
          sleep 10
          docker ps -a
